:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --verydarkblue: hsl(234, 12%, 34%);
    --grayishblue: hsl(229, 6%, 66%);
    --verylightgray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--verylightgray);
    font-family: "Poppins", serif;
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;

}
.container{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: min(90%, 60rem);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}
.cards{
    display: grid;
    gap: 1.5rem;
}
.card{
    background-color: white;
    padding: 20px;
    box-shadow: 5px 7px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: min(100%, 20rem);
    margin-inline: auto;
}
.card p{
    text-align: start;
    font-size: clamp(0.75rem, 2vw, 0.8rem);
    position: relative;
    bottom: 7px;
}
.icon{
    margin-left: auto;
    width: min(100%, 5rem);
    padding: 10px;
}
h1, h2{
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 200;
    color: var(--verydarkblue);
}
h2{
    font-weight: 600;
}
p{
    font-size: clamp(0.85rem, 2vw, 0.9rem);
    color: var(--grayishblue);
    font-weight: 400;
    width: min(90%, 26rem);
    text-align: center;
}
h3{
    font-size: clamp(1rem, 2vw, 1.1rem);
    color: var(--verydarkblue);
    font-weight: 600;
}
#box1{
    border-top: 4px solid var(--cyan);
}
#box2{
    border-top: 4px solid var(--red);
}
#box3{
    border-top: 4px solid var(--orange);
}
#box4{
    border-top: 4px solid var(--blue);
}

@media screen and (min-width: 600px) {
    .cards{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    #box2{
        grid-column: 2 / 3;
    }
    #box3{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    #box1, #box4{
        position: relative;
        top: 150px;
    }
}